/build/
/dist/
nbproject/private/private.xml
nbproject/build-impl.xml
nbproject/private/private.properties
nbproject/genfiles.properties
src/resources/SQLiteManager.lnk
nbproject/private/config.properties
